/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.page{
   &.home{
       .page-title{
           .svg{
               width: 50px;
               height: 50px;
           }
       }
       .example-form{
         .example-full-width{
             width: 85%;
             margin-right: 5px
         }

       }
   } 

}